{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_staticinfo_home') }}">Weather forecasts</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_location_index') }}">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_forecast_index') }}">Forecasts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Preview
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_weather_forecast', {countryCode: 'PL', cityName: 'Stettin'}) }}">Stettin</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_weather_forecast', {countryCode: 'DE', cityName: 'Berlin'}) }}">Berlin</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_weather_forecast', {countryCode: 'ES', cityName: 'Barcelona'}) }}">Barcelona</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_weather_forecast', {countryCode: 'FR', cityName: 'Paris'}) }}">Paris</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}